<div class="row">
    <div class="col-lg-1  d-sm-none d-md-block d-lg-block"></div>
    <div class="col-lg-7 ml-half mr-half">
        <nav class="nav nav-pills nav-fill round_edge mt-2" style="background-color: #f5f5f58a;">
            <ng-container *ngFor="let language of languages;let i=index">
                <a class="nav-item nav-link text-white" [ngClass]="{'active':language.is_actif === true}" href="javascript:;" (click)="activeLangue(language)">{{language.nom_autre_langue}}</a>
            </ng-container>
        </nav>
    </div>
    <div class="col-lg-3 ml-half mr-half">
        <button class="btn btn-secondary disabled text-white right  round_edge mt-2"> <span
        *ngIf="modalState">{{textLangue.text_modal_opened}}</span> <span
        *ngIf="!modalState">{{textLangue.text_modal_closed}}</span> </button>
    </div>
    <div class="col-lg-1  d-sm-none d-md-block d-lg-block p-0"></div>

</div>
<div class="row">
    <div class="col-lg-1  d-sm-none d-md-block d-lg-block"></div>
    <div class="col-lg-7 ml-half mr-half mt-3">
        <h5 class="text-white">{{textLangue.text_liste_langues}} <span class="badge badge-pill badge-warning">{{langueCompetence.length}}</span></h5>

        <div class="w-100 d-flex p-1 mt-1 hide-on-small-only" style="background-color: #F5F5F5;">
            <div class="flex-fill">{{textLangue.text_liste_langues}}</div>
            <div class="flex-fill">{{textLangue.text_niveau_parle}}</div>
            <div class="flex-fill">{{textLangue.text_niveau_ecrit}}</div>
            <div class="flex-fill">{{textLangue.text_niveau_comprehension}}</div>
            <div class="flex-fill"></div>
        </div>

        <app-language-card *ngFor="let competence of langueCompetence;let i=index" [competence]="competence" [index]="i" (detailsEmmit)="detailsReceived($event)" (updateEmmit)="updateReceived($event)" (deleteEmmit)="deleteReceived($event)">
        </app-language-card>
    </div>
    <div class="col-lg-3 mt-3 ml-half mr-half">
        <app-language-form [textLangue]="textLangue" [competence]="detailsCompetence" [langueCompetences]="textCompetences" [languesDispo]="languages"></app-language-form>
    </div>
    <div class="col-lg-1  d-sm-none d-md-block d-lg-block p-0"></div>
    <app-details-modal [textLangue]="textLangue" [competence]="detailsCompetence" (closeEmitter)="detailsModalClose($event)"></app-details-modal>
    <app-confirm-modal (decisionEmitter)="decisonModal($event)"></app-confirm-modal>
</div>