<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p><b>Voulez vous vraiment supprimer cette langue ?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="message(true)">
          Oui
        </button>
                <button type="button" class="btn btn-primary" (click)="message(false)">Non</button>
            </div>
        </div>
    </div>
</div>